@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.menu li > :not(ul, .menu-title, details, .btn):active,
.menu li > :not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
  background-color: transparent;
  color: #febd69;
}
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn).focus,
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):not(summary, .active, .btn):focus,
:where(
    .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
  ):is(summary):not(.active, .btn):focus-visible,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(summary, .active, .btn).focus,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):not(summary, .active, .btn):focus,
:where(
    .menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)
  ):is(summary):not(.active, .btn):focus-visible {
  cursor: pointer;
  background-color: transparent;
  color: #febd69;
  outline: 2px solid #0000;
  outline-offset: 2px;
}
@media (hover: hover) {
  @supports (color: oklch(0% 0 0)) {
    :where(
        .menu li:not(.menu-title, .disabled) > :not(ul, details, .menu-title)
      ):not(.active, .btn):hover,
    :where(
        .menu
          li:not(.menu-title, .disabled)
          > details
          > summary:not(.menu-title)
      ):not(.active, .btn):hover {
      background-color: transparent;
      color: #febd69;
    }
  }
}
